<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WireGuard</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>WireGuard</h1>
        <form id="upload-form">
            <label for="file-upload" class="custom-file-upload">
                Choose File
            </label>
            <input id="file-upload" type="file" name="file" />
            <span id="file-name">No file chosen</span>
            <button type="submit" class="btn">Upload</button>
        </form>
        <button id="clear-table" class="btn">Clear Table</button>
        <div id="result">
            <div id="attack-summary" style="display:none;"></div>
            <table id="packet-table" style="display:none;">
                <thead>
                    <tr>
                        <th>Network Type</th>
                        <th>Ethernet Dest</th>
                        <th>Ethernet Src</th>
                        <th>IP Version</th>
                        <th>IP IHL</th>
                        <th>IP TOS</th>
                        <th>IP Len</th>
                        <th>IP ID</th>
                        <th>IP Flags</th>
                        <th>IP Frag</th>
                        <th>IP TTL</th>
                        <th>IP Proto</th>
                        <th>IP Checksum</th>
                        <th>IP Src</th>
                        <th>IP Dest</th>
                        <th>TCP Sport</th>
                        <th>TCP Dport</th>
                        <th>TCP Seq</th>
                        <th>TCP Ack</th>
                        <th>TCP Dataofs</th>
                        <th>TCP Reserved</th>
                        <th>TCP Flags</th>
                        <th>TCP Window</th>
                        <th>TCP Checksum</th>
                        <th>TCP Urgptr</th>
                        <th>TCP Options</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="static/js/scripts.js"></script>
</body>
</html>
